@charset "UTF-8";
/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2021-04-08 12:47:10
 * @version 1.0.0
 */

body{

    display:flex;

    background-color: rgb(82, 61, 30);
    color: rgb(82, 61, 30);

    font-size: 4vh;

}

#everything{

    min-width: 98vw;
    min-height:98vh;

    display:flex;
    align-items: center;
    justify-content: center;
}

#card{
    width:40vw;
    height:40vh;

    display:flex;
    align-items:center;
    justify-content: center;

    background-color: white;

    border: white solid 5px;
    border-radius: 5vh/5vh;
}

#content{
    padding: 3%;

    display:flex;
    flex-direction: column;
    

    width: 85%;
    height: 75%;

    background-color: white;

    border: rgb(82, 61, 30) solid;
    border-radius: 5vh / 5vh;
}

#content div{

    /*
    border-top: cornflowerblue solid;
    border-bottom: cornflowerblue solid;

    background-color: burlywood;
    */

    display:flex;

    
}

p{
    margin: 0;
    padding: 0;
   
    
}

#top{
    /*border: rgb(82, 61, 30) solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;*/
    display:flex;

    

    
}

#name, #social{

    

    flex-grow: 1;

    align-items:flex-start;
    justify-content: flex-start;

   
}

#name{
    border: rgb(82, 61, 30) solid 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 4vh;

    padding-left: 50px;
    
}

div#social{

    border: rgb(82, 61, 30) solid 5px;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-right: none;
    border-top: none;

    align-items: center;
    justify-content: center;

    position:relative;
     
    height:50px;
    top:50px;

}

#title{

    /*border: rgb(82, 61, 30) solid;
    border-top:none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    */
    flex-grow: 2;

    align-items: flex-end;
    justify-content: center;

    
    font-size: 10vh;

    border-bottom: rgb(82, 61, 30) solid 10px;
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    
    
}

