@charset "UTF-8";
/**
 * Description
 * @authors Alen Veselič ()
 * @date    2021-05-04 14:33:46
 * @version 1.0.0
 */


 html, body{
     margin: 0;
     padding: 0;


     font-family: 'Mandali', sans-serif;
 }

 body{
     display:flex;
     flex-direction: column;
     /*justify-content: center;*/
     align-items: center;

     /*width: 100%;*/
     min-height:100vh;
     width: 99.7%;
     color: white;
     background-color: black;

     

     border: 0.1vw solid red;
 }

 .stripButton{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


 .quickMenu{
     display:none;
     flex-direction: column;

     justify-content: center;
    
     position:fixed;
     left: 2vw;
     bottom: 5vh;
     z-index: 1;
    
     min-width: 13vw;
     height: 10vh;
    
     padding: 0.2vw;

     background-color: rgba(255, 255, 255, 0.418);
 }

 .toggleMenuButton{
     position: fixed;
     left: 2vw;
     bottom:5vh;

     z-index: 1;

     height: calc(10vh + 0.4vw);
     width: 2vw;

     background-color: white;
     color:black;
 }

 .openCloseImg{
     width: 100%;
     height: auto;
 }
  
 .menuOpen{
     left: 15.3vw;
 }

 .fade{
     opacity:0%;
 }

 #heroBanner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     background-color: transparent;
     width: 99.4%;
     min-height: 75vh;
     

     
     border-bottom: none;

     font-size: 50px;
     line-height: 90%;
 }

 .heroText{
     display:flex;
     flex-grow: 1;
     min-width: 100%;
     min-height: 50vh;

     
     
     justify-content: space-between;

     background-color: transparent;

     
     
     
}

.eh{
    font-size: 43px;
}


 
 .heroText p{
    padding:0; 
    margin:0;

    flex-grow: 1;
 }

 .greeting{
     align-self: flex-start;
     
     background-color: transparent;

 }

 .greetingEnd{
    background-color: transparent;

    text-align: right;

    align-self: flex-end;
 }

 #bannerSubTitle{
     display:flex;
     align-items: flex-end;
     
     min-height: 10vh;
     min-width: 50vw;
     
     margin-top: 20vh;

     z-index: 5;

     

     justify-content: center;
 }

 .siteBegin{
     

     margin:0;
     padding: 0;
     padding-bottom: 10px;
     
     

     justify-content: center;
     

 }

 
 .emph{
     font-weight: bold;
 }

 .clearSpace{
     margin:0;
     padding:0;
 }

 #keepScrolling{
     font-size: 10vh;
 }

 .chevron{

    margin-top: 2vh;
    position: relative;

     width:100px;
     height:100px;

     animation: 5s bounce infinite;
 }

 .content{
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 0;

    max-width: 99vw;
    
    margin-top: 10vh;
}

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding-top: 2.5vh;
    
}

h2, h3, h4, h5{
    margin:0;
    padding:0;
}

h2.skills{
    color: orange;
}
.skills{

    max-width: 99.7%;
    
    border: 0.1vw orange solid;
    
    
    z-index: -1;

}

.skills h3{
    color: orange;
}

.skills h4{
    color: rgb(236, 178, 70);
}

.skills h5{
    color: rgb(214, 165, 75);
}


.conceptList h5{
    background-color: rgba(255, 166, 0, 0.158);
}

h2.projects{
    margin-top: 10vh;
    color: green
}

.projects{
    

    border: 0.1vw green solid;
}

.projects h3{
    color: rgb(66, 131, 66);
}

#projects{
    margin-top: 5vh;
}

#aboutHeader{
    margin-top: 10vh;
    
}

h2.about{
    color: hotpink;
}

.about{
    border: 0.1vw hotpink solid;
}

.no-border{
    border:none;
}

h2.education{
    margin-top: 20vh;
    color: blueviolet;
}
.education{
    border: 0.1vw blueviolet solid;
}

h2.occup{
    margin-top: 20vh;
    color:grey;
}

.occup{
    border: 0.1vw grey solid;
}

.subtitle{
    margin:0;
    padding:0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.skillList{
    display:flex;
    
    justify-content: space-between;

    min-width: 60vw;

    margin: 0;
    padding: 0;

}

.skillList li{
    padding-left: 2px;
    padding-right: 2px;
}

.conceptList{
    display: flex;

    justify-content: center;
}

.conceptList ul{
    margin: 0;
    padding: 0;

    width: 30vw;
}





.projectSection{
    max-width: 99.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    
}



#projects{
    
    display: grid;
    
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);


}

#projects .columnTwo{
    border-left: green 2px solid;
    border-right: green 2px solid;
}

@media all and (max-width: 600px){
    .heroText{
        flex-direction: column;
    }

    .greeting, .greetingEnd, .siteBegin{
        align-self: center;
        text-align: center;
    }

    .conceptList{
        flex-direction: column;
    }

    #projects{
        display:flex;
        flex-direction: column;
    }

    

}

#projects h3{
    grid-row: 1;
    padding-bottom: 2vh;
}



.project{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.imageContainer{
    
    grid-row: 2;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 45%;
    
}

.projImage{
    width: 80%;
    height:auto;
}

.imgSC{
    width:50%;
}
.projInfo{

    grid-row: 3;
    display:flex;
    flex-direction: column;

    

    
}



#about{
    display: flex;
    flex-direction: column;
    max-width: 99.7%;

    align-items: center;

    

    
}

#aboutSummary{
    padding: 0 5vw; 
}



#education{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 99.7%;

    
    
}

#occupation{
    display: flex;
    flex-direction: column;

    align-items: center;

    min-width: 99.7%;

    
}

#contact{
    display: flex;
    flex-direction: column;

    position: relative;
    bottom: -1.1vh;
    margin-top: 20vh;

    min-width: 50%;

    background-color: black;
    border: 0.3vw rgba(92, 90, 90, 0.644) double;
}

/*
p, h2, li, h3, img, a{
    opacity: 0%;
    animation: fadeIn 1s forwards;
}
*/

.backStory{
    display:none;
    text-align: left;
    
    padding: 0 10vw;
}



.showBlock{
    display: block;
}

.showFlex{
    display:flex;
}

.scrollSee{
    position:fixed;
    left: 50px;
    top:100px;
}

.mainHead{
    position: relative;
    bottom: -1px;

    z-index: 1;

    margin:0;
    padding:10px 20px;

    border-bottom: 0.1vw solid black;

}


@keyframes fadeIn{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes colorChange{
    0%{
        color: white;
        
    }

    100%{
        color: yellow;
    }
}

@keyframes bounce{
    0%{
        bottom: 0px;
    }

    50%{
        bottom: -8vh;
    }
    100%{
        bottom: 0px;
    }
}