@charset "UTF-8";
/**
 * Description
 * @authors Alen Veselič ()
 * @date    2021-05-04 14:33:46
 * @version 1.0.0
 */


 html, body{
     margin: 0;
     padding: 0;


     font-family: 'Mandali', sans-serif;
 }

 body{
     display:flex;
     flex-direction: column;
     /*justify-content: center;*/
     align-items: center;

     width: 100%;
     min-height:100vh;
     color: white;
     background-color: black;
 }

 .fade{
     opacity:0%;
 }

 #heroBanner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     background-color: transparent;
     width: 100%;
     min-height: 30vh;

     

     font-size: 50px;
     line-height: 90%;
 }

 .heroText{
     display:flex;
     flex-grow: 1;
     min-width: 100%;

     
     
     justify-content: space-between;

     background-color: transparent;
}


 
 .heroText p{
    padding:0; 
    margin:0;

    flex-grow: 1;
 }

 .greeting{
     align-self: flex-start;
     
     background-color: transparent;

 }

 .greetingEnd{
    background-color: transparent;

    text-align: right;

    align-self: flex-end;
 }

 

 .siteBegin{
     margin:0;
     padding: 0;
     padding-bottom: 10px;
 }
 .emph{
     font-weight: bold;
 }

 .content{
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style-type: none;
}

.skillList{
    display: flex;
    
    justify-content: space-between;

    margin: 0;
    padding: 0;

    
}

.conceptList{
    display: flex;
}

.conceptList ul{
    margin: 0;
    padding: 0;
}


.projectSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    
}

#projects{
    
    display: grid;
    
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);


}

@media all and (max-width: 600px){
    .heroText{
        flex-direction: column;
    }

    .greeting, .greetingEnd, .siteBegin{
        align-self: center;
        text-align: center;
    }

    .conceptList{
        flex-direction: column;
    }

    #projects{
        display:flex;
        flex-direction: column;
    }

    

}

#projects h3{
    grid-row: 1;
}



.project{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}


.imageContainer{
    
    grid-row: 2;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 45%;
    
}

.projImage{
    width: 80%;
    height:auto;
}

.imgSC{
    width:50%;
}
.projInfo{

    grid-row: 3;
    display:flex;
    flex-direction: column;
    
}

#about{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

#education{
    display: flex;
    flex-direction: column;
    
}

#contact{
    display: flex;
    flex-direction: column;
}

/*
p, h2, li, h3, img, a{
    opacity: 0%;
    animation: fadeIn 1s forwards;
}
*/

.backStory{
    display:none;
    text-align: left;
}

.backStory span{
    text-align: center;

}

.show{
    display: block;
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

.scrollSee{
    position:fixed;
    left: 50px;
    top:100px;
}
